.weatherImg{
    background-image: url('https://images.unsplash.com/photo-1464660439080-b79116909ce7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1202&q=80');
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
  }
  
  .heading{
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(7, 7, 7);
  }
  
  .search-location{
    text-align: center;
  }
  
  .btn{
    margin-top: 5px;
  }
  
  .weather-container{
    border: 1px solid black;
    height:50vh;
    /* background: rgb(249,242,246);
    background: radial-gradient(circle, rgba(249,242,246,1) 0%, rgba(76,77,78,1) 100%); */
    
    background: rgb(247,251,255);
    background: radial-gradient(circle, rgba(247,251,255,1) 0%, rgba(168,217,243,1) 100%);
  }
  
  .weather-screen{
    margin:10px auto;
    width:700px;
    height:350px;
    background: rgb(247,251,255);
    background: radial-gradient(circle, rgba(247,251,255,1) 0%, rgba(217,220,222,1) 100%);
    box-shadow: 2px 2px 30px 1px grey;
    border-radius: 5px;
  }
  
  .weather-icon{
    margin-top:5px;
    height: 100px;
    width: 100px;
  }
  
  .location{
    font-size: 40px;
    font-weight: 700;
  }
  
  .temp{
    font-size: 30px;
    font-weight: 600;
  }
  
  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height:90%;
  }
  
  .weather-details{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .detail-block-row{
    display: flex;
    justify-content: space-around;
    margin:40px 0;
  }
  
  .detail-blocks{
    display: flex;
    margin: 0 40px;
  }
  
  .detail-icons{
    height:50px;
    width: 50px;
    margin: 0 10px;
  }
  
  .weather-imformation{
   font-size:22px;
   font-weight: 600;
  }
  
  .information-label{
    font-size:15px;
    font-weight: 600;
  }